@font-face {
    font-family: 'AdobeGaramondProRegular';
    src: url('agaramondpro-regular.eot');
    src: url('agaramondpro-regular.eot') format('embedded-opentype'),
         url('agaramondpro-regular.woff') format('woff'),
         url('agaramondpro-regular.ttf') format('truetype'),
         url('agaramondpro-regular.svg#AdobeGaramondProRegular') format('svg');
}
